<section class="kc-footer">
    <div class="container">
        <div class="row text-center text-sm-left text-md-left">
            <div class="col-md-4">
                <h5>Проектирование</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="~/Proektirovanie/KarkasnyeDoma">Каркасные дома</a></li>
                    <li><a href="~/Proektirovanie/FahverkovyeDoma">Фахверковые дома</a></li>
                    <li><a href="~/Proektirovanie/StropilnyeSistemy">Стропильные системы</a></li>
                    <li><a href="~/Proektirovanie/BKDK">Большепролетные каркасные деревянные конструкции (БКДК)</a></li>
                    <li><a href="~/Proektirovanie/Fundamenty">Фундаменты </a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Строительство</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="~/Stroitelstvo/KarkasnyeDoma">Каркасные дома</a></li>
                    <li><a href="~/Stroitelstvo/StropilnyeSistemy">Стропильные системы</a></li>
                    <li><a href="~/Stroitelstvo/Fundamenty">Фундаменты</a></li>
                </ul>
            </div>
            <div class="col-md-4 kc-footer-contacts">
                <div class="kc-footer-contacts-data">
                    <h5><a href="/Contacts">Контакты</a></h5>
                    <p>
                        197022,
                        <a href="https://yandex.ru/maps/-/CCVLRR8r" target="_blank" title="Показать на Yandex.Maps">
                            <i class="fas fa-map-marker-alt"></i>
                            г. Санкт-Петербург, ул. Инструментальная, д.3, литера А офис 216
                        </a>
                    </p>
                    <p>Бизнес-центр «Кантемировский»</p>
                    <p>Телефон:<span> 8 (812) 928-96-00 </span></p>
                    <p>Email: info@kc-construction.ru</p>
                    <p>
                        <img src="~/images/icons/instagramlogo.png" />
                        <a href="https://www.instagram.com/kc_construction.ru/?hl=ru" target="_blank" title="@@kc_construction.ru">
                            @@kc_construction.ru
                        </a>
                    </p>
                </div>
            </div>
            
            <div class=" col-md-12  text-center text-white">
                <p>
                    <img class="kc-brand-image" src="~/images/logos/kcconstruction_logo_small.png" />
                    <a class="navbar-brand" href="/">КС Конструкция</a>
                </p>
                <p class="h6">&copy Anton Drozdov 2014 - 2018</p>
            </div>
        </div>
    </div>
</section>

