@page
@model kcconstruction.Pages.ContactsModel
@{
    Layout = "Layouts/_Layout";
}

<h1 class="kc-h1">Наши контакты</h1>
<div class="row no-gutters kc-contacts-page">
    <div class ="col-md-2 "></div>
    <div class="col-md-4  kc-address">
        <p><span>Наш офис:</span></p>
        <p>197022, г. Санкт-Петербург, ул. Инструментальная, д.3, литера А офис 216</p>
        <p>Бизнес-центр «Кантемировский»</p>
        <p>Телефон:<span> 8 (812) 928-96-00 </span></p>
        <p>Email: info@kc-construction.ru</p>
    </div>

    <div class="col-md-4 kc-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.4247213937554!2d30.319700316164827!3d59.97486566613767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469633e29c6d0b9b%3A0x48ee48bc4228aa4b!2z0JjQvdGB0YLRgNGD0LzQtdC90YLQsNC70YzQvdCw0Y8g0YPQuy4sIDMsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTcwMjI!5e0!3m2!1sru!2sru!4v1539874133180" height="300px" frameborder="0" style="border: 0" allowfullscreen></iframe>
    </div>
</div>

<h2 class="kc-h2">Наша команда</h2>
<div class="row justify-content-center no-gutters kc-contacts-page ">
    <div class="col-md-6 kc-person">
        <img src="~/images/kovalD.jpg" />
        <h3 class="kc-h3">Данил Ковальчук</h3>
        <p>Главный конструктор</p>
        <p>Телефон:<span> +7(911)138 08 54</span></p>
        <p>Email: kovalchuk@kc-consruction.ru</p>
    </div>
    <div class="col-md-6 kc-person">
        <img src="~/images/sokolA.jpg" />
        <h3 class="kc-h3">Александр Соколов</h3>
        <p>Технический директор</p>
        <p>Телефон:<span> +7(911)983 26 75</span></p>
        <p>Email: sokolov@kc-consruction.ru</p>
    </div>
    <div class="col-md-4 kc-person">
        <h3 class="kc-h3">Ксения Болотова</h3>
        <p>Конструктор</p>
    </div>
    <div class="col-md-4 kc-person">
        <h3 class="kc-h3">Анастасия Чулкова</h3>
        <p>Конструктор</p>
    </div>
    <div class="col-md-4 kc-person">
        <h3 class="kc-h3">Олеся Богомаз</h3>
        <p>Конструктор</p>
    </div>
</div>

<h2 class="kc-h2">Оставьте заявку или мы можем Вас проконсультировать</h2>
<div  class="row justify-content-center no-gutters kc-contacts-page ">
    <button type="button" id="contactsFeedbackForm" class="btn btn-outline-primary btn-lg btn-block kc-contacts-feedback-button">Задать вопрос</button>
</div>

@await Component.InvokeAsync("FeedbackForm")


