@page
@model kcconstruction.Pages.DownloadModel
@{
    Layout = "Layouts/_Layout";
}

<h1 class="kc-h1">Материалы для скачивания</h1>

<div class="row justify-content-center no-gutters kc-contacts-page ">
    <div class="kc-text">
        Ниже представлены представлены файлы, которые Вы можете скачать и ознакомится более подробно с нашей деятельностью:
    </div>
</div>
<br />
<div class="row justify-content-center no-gutters kc-download-page">
    
    <table>
        <tr>
            <td>
                <h3><i class="fas fa-file-pdf"></i></h3>
            </td>
            <td>
                <h3>Альбом проектов БКДК_2019</h3>
            </td>
            <td>
                <a href="~/Download?handler=File&file=bdkdprojects_2019.pdf">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block kc-contacts-download-button">Скачать</button>
                </a>

            </td>
        </tr>
    </table>
</div>
    @*<form method="post" enctype="multipart/form-data" asp-controller="DownloadFile" asp-action="DownloadFile">
            <div class="row justify-content-center no-gutters kc-contacts-page ">
                <button type="button" asp-page-handler="DownloadFile" class="btn btn-outline-primary btn-lg btn-block kc-contacts-feedback-button">Download</button>
                <button type="button" class="btn btn-outline-primary btn-lg btn-block kc-contacts-feedback-button">Download</button>
            </div>
        </form>*@





    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />





