@page
@model kcconstruction.Pages.DownloadModel
@{
    Layout = "Layouts/_Layout";
}
<style type="text/css">.kc-downloadbuttontitle { }</style>

<h1 class="kc-h1">Материалы для скачивания</h1>

<div class="row kc-main-page no-gutters">
    <div class="kc-text">
        Ниже представлены представлены файлы, которые Вы можете скачать и ознакомится более подробно с нашей деятельностью:
    </div>
</div>
<br />
<div class="row no-gutters justify-content-center kc-download-page">
    <table>
        <tr>
            <td>
                <i class="fas fa-file-pdf kc-downloadfiletype"></i>
            </td>
            <td >
                <h2> Альбом проектов БКДК_2019</h2>
            </td>
            <td>
                <a href="~/Download?handler=File&file=bdkdprojects_2019.pdf">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block kc-contacts-download-button">
                        <i class="fas fa-download"></i>
                        <span class="d-none d-md-block">Скачать</span>
                    </button>
                </a>
            </td>
        </tr>
    </table>
</div>






<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />





