@page
@model kcconstruction.Pages.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<h1>Ooops! Somethig went wrong..... . .   .  </h1>
</body>
</html>
