@page
@model kcconstruction.Pages.ContactsModel
@{
    Layout = "Layouts/_Layout";
}

<h1 class="kc-h1">Проектирование и строительство фундаментов</h1>


<div class="row kc-main-page no-gutters">
    <div class="col-md-5 kc-cover-section kc-fundament-cover ">
        <img src="~/images/covers/fundament.jpg" />
    </div>
    <div class="col-md-7  my-auto mx-auto">
        <div class="kc-text-head">
            Наша компания имеет богатый опыт по <b>проектированию и строительству фундаментов</b> любой сложности.
            Тип фундамента в каждом конкретном случае определяется геологическими условиями на участке, пожеланиями Заказчика и особенностями будущей постройки.
            Виды фундаментов, проектирование и возведение которых мы можем предложить Вам: <br/>
            <b>- мелкозаглубенный ленточный фундамент (МЗЛФ), </b><br />
            <b>- столбчатый (свайный) фундамент, </b><br />
            <b>- монолитная плита, утепленная шведская плита (УШП), </b><br />
            <b>- монолитный фундамент с цокольным этажом,</b> <br />
            и различные комбинации перечисленных типов фундаментов.
            Все работы производятся с использованием качественных материалов квалифицированным персоналом, исключающим возможность появления любых проблем в будущем как с фундаментом так и с сооружением на нем возведенном.
            @*<i class="fas fa-arrow-right"></i>*@
        </div>
    </div>
</div>


<div class="row justify-content-center no-gutters kc-main-page ">
    <div class="col-md-12">
        <div class="kc-text-head">
            <p>
                Ниже Вашему вниманию представлены галереи обьектов как на стадии проектирования фундамента, так и на этапе строительтсва.
                Фундаманты различных видов реализовываются нами на территориях Ленинградской и Мовсковской областей, а также в других регионах.
                Также предлагаем посетить раздел <a href="~/Download">Материалы</a>, где вы сможете скачать альбом, где представлен более полный перечень выполненных нами работ.
            </p>
        </div>
    </div>
</div>

<div class="row kc-main-page no-gutters">
    <div class="col-md-6 kc-cover-section">
        <a href="~/Proektirovanie/Fundamenty">
            <div class="kc-bigmainlink">
                <img src="~/images/Proektirovanie/Fundamenty/PF1/PF1_001.jpg" />
                <h2 class="kc-h2">Проектирование фундаментов</h2>
            </div>
        </a>
    </div>
    <div class="col-md-6 kc-cover-section">
        <a href="~/Stroitelstvo/Fundamenty">
            <div class="kc-bigmainlink">
                <img src="~/images/Stroitelstvo/Fundamenty/Gatchina_fundament/FG_004.jpg" />
                <h2 class="kc-h2">Строительство фундаментов</h2>
            </div>
        </a>
    </div>
</div>