@page
@model kcconstruction.Pages.IndexModel
@{
    Layout = "Layouts/_Layout";
}

@*<h1>Razor Index</h1>
    <input type="button" onclick="location.href='/KCconstructionAdmin';" value="KCconstructionAdmin" />*@

<div class="row justify-content-center kc-main-page no-gutters">
    <div class="col kc-textalign-center">
        <img class="kc-logo-onmainpage" src="~/images/logos/kcconstruction_logo_large_alphach.png" />
        <p>8 (812) 928-96-00</p>
    </div>
</div>

<h1 class="kc-h1">КС Конструкция – строительство и проектирование</h1>


<h2 class="kc-h2">Энергоэффективные каркасные дома и современные деревянные конструкции</h2>
<div class="row kc-covers kc-main-page no-gutters">
    <div class="col-md-4 kc-cover-section">
        <a href="~/Predlozheniya/KarkasnyeDoma#PredlozhenieKC1Anchor">
            <div class="kc-bigmainlink">
                <img src="~/images/pics/kc1/КС1_main_xs.jpg" />
                <span>КС-1</span>
                <i class="fas fa-arrow-right"></i>
            </div>
        </a>
    </div>
    <div class="col-md-4 kc-cover-section">
        <a href="~/Predlozheniya/KarkasnyeDoma#PredlozhenieKC2Anchor">
            <div class="kc-bigmainlink">
                <img src="~/images/pics/kc2/КС2_main_xs.jpg" />
                <span>КС-2</span>
                <i class="fas fa-arrow-right"></i>
            </div>
        </a>
    </div>
    <div class="col-md-4 kc-cover-section">
        <a href="~/Predlozheniya/KarkasnyeDoma#PredlozhenieKC3Anchor">
            <div class="kc-bigmainlink">
                <img src="~/images/pics/kc3/КС3_main_xs.jpg" />
                <span>КС-3</span>
                <i class="fas fa-arrow-right"></i>
            </div>
        </a>
    </div>
</div>
<div class="kc-bigmainlink">
    <a href="~/Predlozheniya/KarkasnyeDoma">
        <div class="row kc-covers kc-main-page no-gutters">
            <div class="kc-text">
                Мы строим современные каркасные дома и проектируем деревянные конструкции с 2006 года. <br/>
                КС-Конструкция — это высокое качество услуг и продуктов, подкрепленное профессионализмом и опытом сотрудников.<br />
                Мы готовы помочь Вам на любом этапе строительства дома – от первого эскиза и консультаций по подбору участка, до возведения фундамента, монтажа всех конструкций и сетей здания и благоустройства территории.
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </a>
</div>


<div class="kc-bigmainlink">
    
        @*<a href="~/Predlozheniya/Fundamenty">*@
        <a href="#">
            <h2 class="kc-h2">Фундаменты</h2>
            <div class="row kc-covers kc-main-page no-gutters">
                <div class="col-md-5 kc-cover-section kc-fundament-cover">
                    <img src="~/images/covers/fundament.jpg" />
                </div>
                <div class="col-md-7  my-auto mx-auto">
                    <div class="kc-text">
                        Наша компания имеет богатый опыт по проектированию и возведению фундаментов любой сложности.
                        Тип фундамента в каждом конкретном случае определяется геологическими условиями на участке, пожеланиями Заказчика и особенностями будущей постройки.
                        Виды фундаментов, проектирование и возведение которых мы можем предложить Вам: мелкозаглубенный ленточный фундамент (МЗЛФ), столбчатый (свайный) фундамент, монолитная плита, утепленная шведская плита (УШП), монолитный фундамент с цокольным этажом, и различные комбинации перечисленных типов фундаментов.
                        Все работы производятся с использованием качественных материалов квалифицированным персоналом, исключающим возможность появления любых проблем в будущем как с фундаментом так и с сооружением на нем возведенном.
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </a>
</div>
<br/>
<h2 class="kc-h2">Наши преимущества</h2>
<br />
<div class="row kc-main-page no-gutters">
    <div class="col-md-6">
        <ul class="kc-ul-text">
            <li>Проектируем и строим загородные дома более 10 лет</li>
            <li>Высокий профессионализм сотрудников</li>
            <li>Применяем современные технологии и решения</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="kc-ul-text">
            <li>Индивидуальное проектирование «под ключ»</li>
            <li>Высокое качество используемых материалов</li>
            <li>Более 150 реализованных проектов</li>
        </ul>
    </div>
</div>
<br />
<h2 class="kc-h2">Что мы можем Вам предложить?</h2>
<div class="row justify-content-center no-gutters kc-main-page ">
    <div class="col-md-10">
        <ul class="kc-ul-text">
            <li>Разработку проекта Вашего дома или сооружения другого назначения от Эскиза до Рабочей документации и сметы.</li>
            <li>Реализацию проекта по каркасной и фахверковой технологии на территории Москвы, Санкт-Петербурга, Ленинградской области и в Республике Карелия. </li>
            <li>Бесплатные консультации по выбору технологии строительства дома, архитектурно-планировочным решениям и подбору участка с учетом Ваших приоритетов и пожеланий.</li>
        </ul>
    </div>
</div>
<br />
<h2 class="kc-h2">Этапы работы с нами</h2>
<br/>
<div class="row justify-content-center no-gutters kc-main-page ">
    <div class="col-md-4 kc-cover-section">
        <i class="far fa-clipboard"></i>
        <div class="kc-text">
            <span>1.</span>
            Вы приходите в наш офис, чтобы посмотреть наши проекты и выбрать ваш новый дом — мы всегда рады гостям
        </div>
    </div>
    <div class="col-md-4 kc-cover-section">
        <i class="fas fa-pencil-alt"></i>
        <div class="kc-text">
            <span>2.</span>
            Наша команда конструкторов и архитекторов за короткое время подготовит эскиз и планы выбранного вами дома
        </div>
    </div>
    <div class="col-md-4 kc-cover-section">
        <i class="fas fa-shipping-fast"></i>
        <div class="kc-text">
            <span>3.</span>
            Мы возьмем на себя выбор поставщиков, заказ и доставку материалов, оптимально подходящих под концепцию проекта
        </div>
    </div>
    <div class="col-md-4 kc-cover-section">
        <i class="fas fa-cogs"></i>
        <div class="kc-text">
            <span>4.</span>
            На Вашем участке мы монтируем конструкции дома, заводим под кровлю, утепляем. Затем идёт монтаж сетей и отделка
        </div>
    </div>
    <div class="col-md-4 kc-cover-section">
        <i class="fas fa-landmark"></i>
        <div class="kc-text">
            <span>5.</span>
            Приемка Вашего дома - результата нашей работы!
        </div>
    </div>
</div>
<br />
<h2 class="kc-h2">Проектирование и строительство каркасных домов</h2>
<div class="row justify-content-center no-gutters kc-main-page ">
    <div class="col-md-10">
        <div class="kc-text">
            <p>
                <b>Строительство каркасных домов «под ключ»</b> становится все более популярным.
                Стоимость квадратного метра такой конструкции в разы дешевле квадратного метра квартиры, а сроки сдачи объекта в эксплуатацию радуют своей оперативностью.
                <b>Строительство деревянных загородных домов</b> возможно за несколько месяцев.
                При этом, вы можете не сомневаться, что будут соблюдены все технологии, и готовое сооружение будет надежным.
            </p>
            <p>
                Как не ошибиться при выборе компании для постройки собственного дома?
                Если компания упускает такой важный момент, как <b>проектирование каркасных домов</b>,
                и предлагает сразу перейти к строительству – ей не стоит доверять. Любое большое дело начинается с проекта,
                и строительство дома – не исключение. Компания, которая этого не понимает вряд ли сможет построить надежный дом.
                Так что, лучше выбирать тех строителей, которые выполняют <b>проектирование коттеджей и загородных домов</b>,
                а после могут предложить вам воплотить проект в реальность и выполнить все строительные работы, согласно плану и
                проектной документации.
            </p>

            <p>
                Однако, сегодня из дерева строят не только коттеджи и загородные дома. Так, <b>большепролетные деревянные конструкции</b>
                тоже пользуются большим спросом, в виду своей доступной цены, быстрых сроков возведения, и высоких эксплуатационных характеристик.
                Поэтому, если вы интересуетесь не только строительством жилого дома для себя, но и хотели бы построить коммерческую
                недвижимость – рассмотрите дерево, как материал для постройки.
            </p>
        </div>
    </div>
</div>
