<div id="feedbackForm" class="modal fade kc-feedbackForm" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center no-gutters kc-feedback-form">
                        
                        <div class="col-md-12 logopic">
                            <img src="~/images/logos/kcconstruction_logo_large_alphach.png" />
                            <button type="button" class="close d-block ml-auto" data-dismiss="modal" aria-hidden="true">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                        
                        <div class="col-md-12 ">
                            <form>
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label>Ваше имя:</label>
                                    <input type="text" name="Name" id="kc-feedbackName" class="form-control" placeholder="Ваше Имя">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="email" name="Email" id="kc-feedbackEmail" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Номер телефона:</label>
                                    <input type="tel" name="Phone" id="kc-feedbackPhone" class="form-control"  placeholder="Телефон">
                                </div>
                                <div class="form-group">
                                    <label>Сообщение:</label>
                                    <textarea class="form-control" name="Message" id="kc-feedbackMessage" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-block kc-feedback-form-button" onclick="sendFeedbackForm()">
                                    Отправить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


