<div id="feedbackForm" class="modal fade kc-feedbackForm" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center no-gutters kc-feedback-form">
                        
                        <div class="col-md-12 logopic">
                            <img src="~/images/logos/kcconstruction_logo_large_alphach.png" />
                            <button id="feedbackCloseBtn" type="button" class="close d-block ml-auto" data-dismiss="modal" aria-hidden="true">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                        
                        <div id="formfeedbackInputs" class="col-md-12 ">
                            <form id="kc-feedbackForm-validatePart">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label>Ваше имя:</label>
                                    <input type="text" name="name" id="kc-feedbackName" class="form-control name" placeholder="Ваше Имя">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="email" name="email" id="kc-feedbackEmail" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Номер телефона:</label>
                                    <input type="tel" name="phone" id="kc-feedbackPhone" class="form-control" placeholder="Телефон">
                                </div>
                                <div class="form-group">
                                    <label>Сообщение:</label>
                                    <textarea name="message" class="form-control"  id="kc-feedbackMessage" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-block kc-feedback-form-button"
                                   onclick="sendFeedbackForm()">
                                    Отправить
                                </button>

                                @*data-target="#feedbackForm"
        data-toggle="modal"
        data-backdrop="static"
        data-keyboard="false">*@
                            </form>
                        </div>
                        <div id="formfeedbackInputs-successPost" class="kc-feedback-form-postresult" style="display: none">
                            <img src="~/images/icons/galochka.png" />
                            <div class="kc-text">
                                <p>Спасибо за Ваше обращение.</p>
                                <p>Мы с Вами свяжемся.</p>
                                <br />
                                <p>
                                    Вы всегда можете позвонить нам по телефону  <h3>8(812)928-96-00</h3>
                                    или найти нас по адресу:
                                    <a href="https://yandex.ru/maps/-/CCVLRR8r" target="_blank" title="Показать на Yandex.Maps">
                                        <i class="fas fa-map-marker-alt"></i>
                                        г. Санкт-Петербург, ул. Инструментальная, д.3, литера А офис 216
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div id="formfeedbackInputs-failPost" class ="kc-feedback-form-postresult" style="display: none">
                            <img src="~/images/icons/krestik.png" />
                            <div class="kc-text">
                                <p>Во время отправки Вашего сообщения произошла ошибка.</p>
                                <br />
                                <p>
                                    Попробуйте связаться с нами по телефону <h3>8(812)928-96-00</h3>
                                    Наш адрес:
                                    <a href="https://yandex.ru/maps/-/CCVLRR8r" target="_blank" title="Показать на Yandex.Maps">
                                        <i class="fas fa-map-marker-alt"></i>
                                        г. Санкт-Петербург, ул. Инструментальная, д.3, литера А офис 216
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


