<div id="pictureDemonstrator" class="modal fade kc-pictureDemonstrator" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <input type="hidden" id="pictureDemonstratorSourceInput" value="">
                        <input type="hidden" id="pictureDemonstratorCurrentImage" value="">
                        <div class="col-12">
                            <div class="kc-pictureDemonstrator-controls kc-close">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <i class="far fa-window-close"></i>
                                    </button>
                            </div>
                            <div id="pictureDemonstratorContainer" >
                                <table><tr><td><img src="~/images/10pxtemplate.jpg"/></td><td></td></tr></table>
                                <img src="~/images/10pxtemplate.jpg"/>
                                <img src=""/>
                            </div>
                            <div class="kc-pictureDemonstrator-controls">
                                <div id="pictureDemonstrator-previousImage" class="arrows kc-left-arrow">
                                    <i class="fas fa-chevron-left"></i>
                                </div>

                                <div id="pictureDemonstrator-nextImage" class="arrows kc-right-arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>