<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables />
      </aspNetCore>
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="C:\inetpub\vhosts\u0569495.plsk.regruhosting.ru\error_docs\bad_gateway.html" />
    </httpErrors>
  </system.webServer>
</configuration>
<!--ProjectGuid: bae2e8af-ea2a-4af7-bb5d-3ac67ae9d67a-->