@page
@model kcconstruction.Pages.Proektirovanie.KarkasnyeDomaModel
@{
    ViewData["Title"] = "КС Проектирование - Каркасные дома";
    Layout = "~/Pages/Layouts/_Layout.cshtml";
}

<h1 class="kc-h1">Каркасные дома</h1>
<div class="row kc-main-page no-gutters">
    <div class="kc-text">
        Проектирование деревянных каркасных домов мы осуществляем с 2006 года. 
        За это время было разработано более 1000 проектов различных зданий и сооружений общей площадью более 120 тысяч квадратных метров. 
        Ниже представлены примеры наших проектов каркасных домов
    </div>
</div>

@foreach (var gallery in Model.Galleries)
{
    <div class="row justify-content-center no-gutters kc-projects-page">
        @await Component.InvokeAsync("GallerySnippet", gallery)
    </div>
}
