@page
@model kcconstruction.Pages.Proektirovanie.StropilnyeSistemyModel
@{
    ViewData["Title"] = "КС Проектирование - Стропильные системы";
    Layout = "~/Pages/Layouts/_Layout.cshtml";
}

<h1 class="kc-h1">Стропильные системы</h1>
<div class="row kc-main-page no-gutters">
    <div class="kc-text">
        Периодически к нам обращаются Заказчики с задачей разработать проект не здания целиком, а отдельной его части. 
        Зачастую так происходит со стропильной системой. 
        Деревянная стропильная система – сложная конструкция, выполняющая несколько задач. 
        Грамотно спроектированная стропильная система будет не только воспринимать нагрузки и передавать их на стены, но и станет украшением здания. 
        Вариантов решения стропильной системы из деревянных контструкций огромное множество. Ниже приведены некоторые примеры наших проектов.
    </div>
</div>
@foreach (var gallery in Model.Galleries)
{
    <div class="row justify-content-center no-gutters kc-projects-page">
        @await Component.InvokeAsync("GallerySnippet", gallery)
    </div>
}

