@media (max-width: 767px) {
  .body-content {
    padding-top: 50px; } }

body {
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  background-image: url("/images/sitebackgroung.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%; }

.container {
  padding-left: 0px;
  padding-right: 0px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }
  .container-fluid .kc-bigmainlink {
    border-bottom: 2px solid #ffffff;
    border-color: transparent;
    padding-bottom: 10px; }
  .container-fluid .kc-bigmainlink:hover {
    border-bottom: 2px solid #0a5098; }
  .container-fluid .kc-bigmainlink a:hover {
    text-decoration: none; }
  .container-fluid h2 {
    margin-top: 15px;
    margin-bottom: 10px; }

section {
  padding: 60px 0;
  margin: 0 auto; }

.kc-brand-image {
  width: 45px;
  padding-right: 0px; }

.kc-navbar {
  background-color: #0a5098 !important;
  color: #ffffff; }
  .kc-navbar a.navbar-brand, .kc-navbar a.nav-link {
    color: #ffffff !important;
    text-decoration: none; }
  .kc-navbar button:active, .kc-navbar button:focus {
    outline: none !important;
    box-shadow: none; }
  .kc-navbar .kc-navbar-link:hover {
    font-weight: 500; }
  .kc-navbar .kc-brand-title {
    font-weight: 700; }

.kc-footer {
  margin-top: 15px;
  padding: 30px 30px 30px 30px;
  background: #0a5098 !important; }
  .kc-footer .kc-footer-contacts {
    color: #ffffff; }
    .kc-footer .kc-footer-contacts .kc-footer-contacts-data {
      line-height: 1em;
      text-align: center;
      border: 2px solid #ffffff;
      font-weight: 500;
      margin: 20px;
      padding: 15px 15px 5px; }
      .kc-footer .kc-footer-contacts .kc-footer-contacts-data h5 {
        font-size: 30px;
        margin-bottom: 15px; }
      .kc-footer .kc-footer-contacts .kc-footer-contacts-data p span {
        font-weight: 600;
        font-size: 20px;
        margin-top: 5px; }
  .kc-footer h5 {
    font-size: 26px;
    text-decoration: underline;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #ffffff; }
  .kc-footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects; }
  .kc-footer ul.list-unstyled li {
    list-style-type: none; }
  .kc-footer ul.quick-links li a {
    font-size: 18px;
    margin-left: 10px;
    color: #ffffff; }
  .kc-footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease; }
  .kc-footer ul.quick-links li:hover {
    padding: 3px 0;
    font-weight: 700; }

.kc-main-page .kc-textalign-center {
  text-align: center; }
  .kc-main-page .kc-textalign-center p {
    color: #0a5098;
    font-size: 30px;
    font-weight: 700; }

.kc-main-page .kc-logo-onmainpage {
  margin: 45px 25px 10px 25px;
  max-width: 250px; }

.kc-main-page .kc-covers img {
  width: 100%; }

.kc-main-page .kc-cover-section {
  text-align: center;
  margin-bottom: 15px;
  padding: 5px; }
  .kc-main-page .kc-cover-section img {
    width: 100%;
    height: auto;
    padding: 5px;
    border: 2px solid #0a5098; }
  .kc-main-page .kc-cover-section i {
    float: none;
    color: #0a5098;
    font-size: 100px; }
  .kc-main-page .kc-cover-section .kc-text {
    text-align: unset; }
  .kc-main-page .kc-cover-section a {
    color: #0a5098 !important;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400; }
  .kc-main-page .kc-cover-section a:hover {
    font-weight: 500; }
  .kc-main-page .kc-cover-section span {
    color: #0a5098;
    font-size: 25px;
    font-weight: 900; }

.kc-main-page .kc-fundament-cover {
  margin-top: 20px; }

.kc-main-page .kc-typical-projects-cover img {
  border: none; }

.kc-main-page .kc-text {
  text-indent: 1.5em;
  margin: 0 15px;
  text-align: justify;
  font-size: 20px;
  color: #0a5098;
  font-weight: 600; }
  .kc-main-page .kc-text i {
    font-size: 30px;
    float: right;
    margin-right: 10px; }

.kc-main-page .kc-ul-text {
  text-align: justify;
  font-size: 17px;
  color: #0a5098;
  font-weight: 600; }
  .kc-main-page .kc-ul-text li {
    margin-right: 10px; }

.kc-main-page .kc-icon {
  max-width: 100px; }

.kc-contacts-page .kc-map {
  padding: 0px 10px; }

.kc-contacts-page .kc-person {
  text-align: center;
  line-height: 1em;
  text-align: center;
  font-weight: 500;
  color: #0a5098; }
  .kc-contacts-page .kc-person img {
    max-width: 300px;
    height: auto;
    padding: 5px;
    margin: 5px;
    border: 2px solid #0a5098; }
  .kc-contacts-page .kc-person p span {
    font-weight: 600;
    font-size: 20px; }

.kc-contacts-page .kc-address {
  text-align: center;
  border: 2px solid #0a5098;
  font-weight: 500;
  margin: 20px;
  padding: 15px 15px 5px;
  color: #0a5098; }
  .kc-contacts-page .kc-address p span {
    font-weight: 600;
    font-size: 20px; }

.kc-contacts-page .kc-contacts-feedback-button {
  border: 2px solid #0a5098;
  margin: 0px 10px 25px 10px;
  color: #0a5098;
  font-weight: 500;
  border-radius: 0; }

.kc-contacts-page .kc-contacts-feedback-button:hover {
  background-color: #0a5098;
  color: #ffffff; }

.kc-contacts-page form:active, .kc-contacts-page form:focus,
.kc-contacts-page .btn:active, .kc-contacts-page .btn:focus,
.kc-contacts-page input:active, .kc-contacts-page input:focus,
.kc-contacts-page textarea:active, .kc-contacts-page textarea:focus,
.kc-contacts-page button:active, .kc-contacts-page button:focus {
  outline: none !important;
  box-shadow: none !important; }

.kc-feedback-form {
  color: #0a5098;
  font-weight: 500; }
  .kc-feedback-form .logopic {
    text-align: center; }
    .kc-feedback-form .logopic img {
      margin-left: 60px;
      max-height: 40px; }
  .kc-feedback-form .kc-feedback-form-button {
    border: 2px solid #0a5098;
    color: #0a5098;
    font-weight: 500;
    border-radius: 0;
    margin-bottom: 10px; }
  .kc-feedback-form .kc-feedback-form-button:hover {
    background-color: #0a5098;
    color: #ffffff; }
  .kc-feedback-form input, .kc-feedback-form textarea {
    border: 1px solid #0a5098;
    border-radius: 0px; }
  .kc-feedback-form .fas, .kc-feedback-form .far {
    font-size: 40px;
    color: #0a5098 !important;
    cursor: pointer; }
  .kc-feedback-form .fas:hover, .kc-feedback-form .far:hover {
    opacity: .8; }
  .kc-feedback-form .close {
    font-size: 2.5rem;
    opacity: 1;
    outline: none;
    margin-bottom: 10px; }
  .kc-feedback-form form:active, .kc-feedback-form form:focus,
  .kc-feedback-form .btn:active, .kc-feedback-form .btn:focus,
  .kc-feedback-form input:active, .kc-feedback-form input:focus,
  .kc-feedback-form textarea:active, .kc-feedback-form textarea:focus,
  .kc-feedback-form button:active, .kc-feedback-form button:focus {
    outline: none !important;
    box-shadow: none !important; }

.kc-projects-page .kc-text {
  margin: 0 15px;
  text-align: unset !important;
  font-size: 16px;
  color: #0a5098;
  font-weight: 600; }
  .kc-projects-page .kc-text span {
    font-size: 16px;
    color: #0a5098;
    font-weight: 500;
    text-decoration: underline;
    margin: 15px; }

.kc-projects-page .kc-gallery-snippet .kc-h2 {
  margin-top: 30px; }

.kc-projects-page .kc-gallery-snippet .kc-images {
  text-align: center; }
  .kc-projects-page .kc-gallery-snippet .kc-images img {
    border: 2px solid #0a5098;
    padding: 2px;
    margin: 2px; }
  .kc-projects-page .kc-gallery-snippet .kc-images .kc-main-gallery-image {
    width: 95%; }
  .kc-projects-page .kc-gallery-snippet .kc-images .kc-main-gallery-image:hover {
    cursor: pointer; }
  .kc-projects-page .kc-gallery-snippet .kc-images .kc-thumb-gallery-image {
    width: 95%;
    padding: 1px;
    margin: 1px;
    cursor: pointer; }
  .kc-projects-page .kc-gallery-snippet .kc-images .kc-thumb-gallery-image-wrapper a:hover {
    opacity: 0.5;
    cursor: pointer; }
  .kc-projects-page .kc-gallery-snippet .kc-images .kc-thumb-gallery-image-wrapper a {
    display: block;
    position: relative;
    cursor: pointer; }
  .kc-projects-page .kc-gallery-snippet .kc-images .kc-thumb-gallery-image-wrapper a:after {
    content: '';
    background: transparent url(../images/icons/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    cursor: pointer; }
  .kc-projects-page .kc-gallery-snippet .kc-images .kc-thumb-gallery-image-wrapper:hover > a:after {
    visibility: visible; }
  .kc-projects-page .kc-gallery-snippet .kc-images .kc-thumb-gallery-image-wrapper figcaption {
    color: #999999;
    text-align: center;
    margin-top: 20px; }

.kc-projects-page .kc-gallery-snippet .kc-description {
  text-align: left; }
  .kc-projects-page .kc-gallery-snippet .kc-description .kc-infotext {
    text-indent: 0em;
    margin: 0 15px;
    text-align: justify;
    color: #0a5098;
    font-weight: 600; }
    .kc-projects-page .kc-gallery-snippet .kc-description .kc-infotext span {
      margin: 0px 15px 0px 0px; }

.kc-projects-page .kc-gallery-snippet .kc-cycle-link-wrapper button {
  border: 2px solid #0a5098;
  margin: 0px 10px 25px 0px;
  color: #0a5098;
  font-weight: 500;
  border-radius: 0; }

.kc-projects-page .kc-gallery-snippet .kc-cycle-link-wrapper button:hover {
  background-color: #0a5098;
  color: #ffffff; }

.kc-projects-page .kc-gallery-snippet .kc-cycle-link-wrapper button:active, .kc-projects-page .kc-gallery-snippet .kc-cycle-link-wrapper button:focus {
  outline: none !important;
  box-shadow: none !important; }

.kc-projects-page .kc-gallery-snippet .kc-cycle-link-wrapper i {
  margin-right: 10px; }

.kc-pictureDemonstrator {
  width: 90%;
  height: 90%;
  margin: auto;
  overflow-x: unset !important;
  overflow-y: unset;
  padding-right: 15px !important;
  text-align: center; }
  .kc-pictureDemonstrator i {
    float: none; }
  .kc-pictureDemonstrator img {
    max-width: 100%;
    max-height: 680px; }
  .kc-pictureDemonstrator .logopic img {
    margin-left: 60px;
    max-height: 40px; }
  .kc-pictureDemonstrator #pictureDemonstratorContainer {
    text-align: center; }
    .kc-pictureDemonstrator #pictureDemonstratorContainer table {
      margin: auto; }
  .kc-pictureDemonstrator button:active, .kc-pictureDemonstrator button:focus {
    outline: none !important;
    box-shadow: none; }
  .kc-pictureDemonstrator button::-moz-focus-inner {
    border: 0 !important; }
  .kc-pictureDemonstrator .fas, .kc-pictureDemonstrator .far {
    font-size: 40px;
    color: #0a5098 !important;
    cursor: pointer; }
  .kc-pictureDemonstrator .fas:hover, .kc-pictureDemonstrator .far:hover {
    opacity: .8; }
  .kc-pictureDemonstrator .close {
    font-size: 2.5rem;
    opacity: 1;
    outline: none;
    margin-bottom: 15px;
    margin-left: 10px; }
  .kc-pictureDemonstrator .kc-pictureDemonstrator-controls {
    width: 100%;
    cursor: pointer; }
  .kc-pictureDemonstrator .arrows {
    text-align: center;
    margin-top: 15px; }
  .kc-pictureDemonstrator .kc-left-arrow {
    float: left;
    width: 45%; }
  .kc-pictureDemonstrator .kc-right-arrow {
    float: right;
    width: 45%; }
  .kc-pictureDemonstrator .modal-dialog {
    margin: auto;
    max-width: unset; }
  .kc-pictureDemonstrator .modal-open, .kc-pictureDemonstrator .modal {
    overflow-x: unset;
    overflow-y: unset; }

.kc-h1 {
  text-align: center;
  margin-top: 20px;
  color: #0a5098;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 25px;
  font-size: 30px; }

.kc-h2 {
  text-align: center;
  color: #0a5098;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 15px;
  font-size: 25px; }

.kc-h3 {
  color: #0a5098;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 20px; }
