$kcblue:#0a5098;
$kclightfont:#ffffff;
$kcgreyfont:#f1eded;
$navbar-inverse-color: rgba($kclightfont,.5);
$kcborderwidth:2px;


@media (max-width: 767px) {
    .body-content {
        padding-top: 50px;
    }
}


body {
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    background-image: url('/images/sitebackgroung.jpg');
    background-repeat: repeat-x;
    background-size: 100% 100%;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;

    .kc-bigmainlink {
        border-bottom: $kcborderwidth solid $kclightfont;
        border-color: transparent;
        padding-bottom: 10px;
    }

    .kc-bigmainlink:hover {
        border-bottom: $kcborderwidth solid $kcblue;
    }

    .kc-bigmainlink a:hover {
        text-decoration: none;
    }

    i {
        font-size: 30px;
        float: right;
    }

    h2 {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

section {
    padding: 60px 0;
    margin: 0 auto;
}

.kc-brand-image {
    width: 45px;
    padding-right: 0px;
}

.kc-navbar {
    background-color: $kcblue !important;
    color: $kclightfont;

    a {
        &.navbar-brand, &.nav-link {
            color: $kclightfont !important;
            text-decoration: none;
        }
    }

    button:active, button:focus {
        outline: none !important;
        box-shadow: none;
    }

    .kc-navbar-link:hover {
        font-weight: 500;
    }

    .kc-brand-title {
        font-weight: 700;
    }
}

.kc-footer {
    margin-top: 15px;
    padding: 30px 30px 30px 30px;
    background: $kcblue !important;

    .kc-footer-contacts {
        color: $kclightfont;


        .kc-footer-contacts-data {
            h5 {
                font-size: 30px;
                margin-bottom: 15px;
            }

            p span {
                font-weight: 600;
                font-size: 20px;
                margin-top:5px;
            }

            line-height: 1em;
            text-align: center;
            border: $kcborderwidth solid $kclightfont;
            font-weight: 500;
            margin: 20px;
            padding: 15px 15px 5px;
        }
    }


    h5 {
        font-size: 26px;
        text-decoration: underline;
        padding-left: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        color: #ffffff;
    }

    a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    ul.list-unstyled li {
        list-style-type: none;
    }

    ul.quick-links li a {
        font-size: 18px;
        margin-left: 10px;
        color: #ffffff;
    }

    ul.quick-links li {
        padding: 3px 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

    ul.quick-links li:hover {
        padding: 3px 0;
        font-weight: 700;
    }
}

.kc-main-page {

    .kc-textalign-center {
        text-align: center;

        p {
            color: $kcblue;
            font-size: 30px;
            font-weight: 700;
        }
    }

    .kc-logo-onmainpage {
        margin: 45px 25px 10px 25px;
        max-width: 250px;
    }

    .kc-covers {
        img {
            width: 100%;
        }
    }

    .kc-cover-section {
        img {
            width: 100%;
            height: auto;
            padding: 5px;
            border: $kcborderwidth solid $kcblue;
        }

        i {
            color: $kcblue;
            font-size: 100px;
        }

        text-align: center;
        margin-bottom: 15px;
        padding: 5px;

        a {
            color: $kcblue !important;
            text-decoration: none;
            font-size: 24px;
            font-weight: 400;
        }

        a:hover {
            font-weight: 500;
        }

        span {
            color: $kcblue;
            font-size: 25px;
            font-weight: 900;
        }
    }

    .kc-fundament-cover {
        margin-top: 20px;
    }

    .kc-typical-projects-cover {
        img {
            border: none;
        }
    }

    .kc-text {
        text-indent: 1.5em;
        margin: 0 15px;
        text-align: justify;
        font-size: 20px;
        color: $kcblue;
        font-weight: 600;
    }

    .kc-ul-text {
        text-align: justify;
        font-size: 17px;
        color: $kcblue;
        font-weight: 500;

        li {
            margin-right: 10px;
        }
    }

    .kc-icon {
        max-width: 100px;
    }
}

.kc-contacts-page {
    .kc-map {
        padding: 0px 10px;
    }

    .kc-person {
        text-align: center;

        img {
            max-width: 300px;
            height: auto;
            padding: 5px;
            margin: 5px;
            border: $kcborderwidth solid $kcblue;
        }

        p span {
            font-weight: 600;
            font-size: 20px;
        }

        line-height: 1em;
        text-align: center;
        font-weight: 500;
        color: $kcblue;
    }

    .kc-address {
        p span {
            font-weight: 600;
            font-size: 20px;
        }

        text-align: center;
        border: $kcborderwidth solid $kcblue;
        font-weight: 500;
        margin: 20px;
        padding: 15px 15px 5px;
        color: $kcblue;
    }

    .kc-contacts-feedback-button {
        border: $kcborderwidth solid $kcblue;
        margin: 0px 10px 25px 10px;
        color: $kcblue;
        font-weight: 500;
        border-radius: 0;
    }

    .kc-contacts-feedback-button:hover {
        background-color: $kcblue;
        color: $kclightfont;
    }

    form:active, form:focus,
    .btn:active, .btn:focus,
    input:active, input:focus,
    textarea:active, textarea:focus,
    button:active, button:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.kc-feedback-form {
    color: $kcblue;
    font-weight: 500;

    .kc-feedback-form-button {
        margin-bottom: 10px;
    }

    input, textarea {
        border: 1px solid $kcblue;
        border-radius: 0px;
    }

    .fas, .far {
        font-size: 40px;
        color: $kcblue !important;
        cursor: pointer;
    }

    .fas:hover, .far:hover {
        opacity: .8;
    }

    .close {
        font-size: 2.5rem;
        opacity: 1;
        outline: none;
        margin-bottom: 10px;
    }

    form:active, form:focus,
    .btn:active, .btn:focus,
    input:active, input:focus,
    textarea:active, textarea:focus,
    button:active, button:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.kc-projects-page {
    .kc-text {
        margin: 0 15px;
        text-align: unset !important;
        font-size: 16px;
        color: $kcblue;
        font-weight: 600;

        span {
            font-size: 16px;
            color: $kcblue;
            font-weight: 500;
            text-decoration: underline;
            margin: 15px;
        }
    }

    .kc-gallery-snippet {
        .kc-h2 {
            margin-top: 30px;
        }

        .kc-title {
        }

        .kc-images {
            text-align: center;

            img {
                border: $kcborderwidth solid $kcblue;
                padding: 2px;
                margin: 2px;
            }


            .kc-main-gallery-image {
                width: 95%;
            }

            .kc-thumb-gallery-image {
                width: 95%;
                padding: 1px;
                margin: 1px;
                cursor: pointer;
            }


            .kc-thumb-gallery-image-wrapper a:hover {
                opacity: 0.5;
                cursor: pointer;
            }

            .kc-thumb-gallery-image-wrapper a {
                display: block;
                position: relative;
                cursor: pointer;
            }

            .kc-thumb-gallery-image-wrapper a:after {
                content: '';
                background: transparent url(../images/icons/eye-icon.png) no-repeat center;
                width: 52px;
                height: 35px;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                visibility: hidden;
                cursor: pointer;
            }

            .kc-thumb-gallery-image-wrapper:hover > a:after {
                visibility: visible;
            }

            .kc-thumb-gallery-image-wrapper figcaption {
                color: #999999;
                text-align: center;
                margin-top: 20px;
            }
        }

        .kc-description {
            text-align: left;

            .kc-infotext {
                text-indent: 0em;
                margin: 0 15px;
                text-align: justify;
                color: $kcblue;
                font-weight: 600;

                span{
                    margin:0px 15px 0px 0px;
                }
            }
        }

        a {
            font-size: 24px;
            color: $kcblue;
        }
    }
}

.kc-pictureDemonstrator {
    width: 90%;
    height: 90%;
    margin: auto;
    overflow-x: unset !important;
    overflow-y: unset;
    padding-right: 15px !important;
    text-align:center;

    img {
        max-width: 100%;
        max-height: 740px;
    }

    #pictureDemonstratorContainer {
        text-align: center;

        table{
            margin:auto;
        }
    }

    button:active, button:focus {
        outline: none !important;
        box-shadow:none;
    }

    button::-moz-focus-inner {
        border: 0 !important;
    }

    .fas, .far {
        font-size: 40px;
        color: $kcblue !important;
        cursor: pointer;
    }

    .fas:hover, .far:hover {
        opacity: .8;
    }

    .close {
        font-size: 2.5rem;
        opacity: 1;
        outline: none;
        margin-bottom: 15px;
        margin-left:10px;
    }

    .kc-pictureDemonstrator-controls {
        width: 100%;
        cursor:pointer;
    }

    .arrows {
        text-align: center;
        margin-top: 15px;
    }

    .kc-left-arrow {
        float: left;
        width: 45%;
    }

    .kc-right-arrow {
        float: right;
        width: 45%;
    }
       
    .kc-close {
    }

    .modal-dialog {
        margin: auto;
        max-width: unset;
    }

    .modal-open, .modal {
        overflow-x: unset;
        overflow-y: unset;
    }
}

.kc-h1 {
    text-align: center;
    margin-top: 20px;
    color: $kcblue;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 25px;
    font-size: 30px;
}

.kc-h2 {
    text-align: center;
    color: $kcblue;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 25px;
}

.kc-h3 {
    color: $kcblue;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 20px;
}



