<nav class="navbar navbar-expand-md bg-dark navbar-dark kc-navbar">
    <div class="container">

        <a class="navbar-brand kc-brand-title" href="/">
            <img class="kc-brand-image" src="~/images/logos/kcconstruction_logo_small.png" alt="kc_small_logo" />
            <span>КС Конструкция</span>
        </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topmenu">
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle kc-navbar-link"
                           href="#"
                           id="projectDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Проектирование
                        </a>
                        <div class="dropdown-menu" aria-labelledby="projectDropdown">
                            <a class="dropdown-item" href="#">Что мы проектируем</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Proektirovanie/KarkasnyeDoma">Каркасные дома</a>
                            <a class="dropdown-item" href="~/Proektirovanie/FahverkovyeDoma">Фахверковые дома</a>
                            <a class="dropdown-item" href="~/Proektirovanie/StropilnyeSistemy">Стропильные системы</a>
                            <a class="dropdown-item" href="~/Proektirovanie/BKDK">БКДК</a>
                            <a class="dropdown-item" href="~/Proektirovanie/Fundamenty">Фундаменты</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle kc-navbar-link"
                           href="#"
                           id="buildingDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Строительство
                        </a>
                        <div class="dropdown-menu" aria-labelledby="buildingDropdown">
                            <a class="dropdown-item" href="#">Что мы строим</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Stroitelstvo/KarkasnyeDoma">Каркасные дома</a>
                            <a class="dropdown-item" href="~/Stroitelstvo/StropilnyeSistemy">Стропильные системы</a>
                            <a class="dropdown-item" href="~/Stroitelstvo/Fundamenty">Фундаменты</a>

                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link kc-navbar-link" href="~/Contacts">Контакты</a>
                    </li>
                </ul>
            </div>

    </div>
</nav>

