<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--RELEASE CSS and SCRIPTS-->
    <link href="~/vendor.min.css" rel="stylesheet" />
    <script src="~/vendor.min.js"></script>

    <!--DEVELOPMENT CSS and SCRIPTS-->
    <link href="~/libs/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/KCStyleSheet.css" rel="stylesheet" />
    <script src="~/js/KCScripts.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <!--Modal Window PictureDemostrator-->
    @await Component.InvokeAsync("ModalPictureDemonstrator")
    <div class="container">
        <div class="container-fluid">
            @await Component.InvokeAsync("MainMenu")
            @RenderBody()
        </div>
            @await Component.InvokeAsync("Footer")
    </div>
</body>
</html>




